[Unit]
Description=Just-So rollback/prepare service for %i
Before=home-%i.mount
After=root-toplevel.mount
Requires=root-toplevel.mount
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/bash /usr/local/sbin/justso back %i
ExecStop=/bin/bash /usr/local/sbin/justso back %i

[Install]
WantedBy=home-%i.mount
